[submodule "src/nmea_navsat_driver"]
	path = src/nmea_navsat_driver
	url = https://github.com/scholzol/nmea_navsat_driver.git
[submodule "src/ydlidar_ros_driver"]
	path = src/ydlidar_ros_driver
	url = https://github.com/scholzol/ydlidar_ros_driver.git
